$bgColor: #1e1e1e;
$bgCellColor: #292929;
$borderColor: #505050;
$mainColor: #8183FF;

$textMainColor: #fff;
$textNumColor: #7d90a9;
$textGreenColor: #74a800;
$textRedColor: #fa5151;

$page-lr-margin: 40rpx;

$def_btn_radius: 10rpx;
$border_height: 1rpx;