$bgColor: #1e1e1e;
$bgCellColor: #292929;
$bgItemColor: #303030;
$borderColor: #505050;
$mainColor: #8183FF;

$textMainColor: #fff;
$textNumColor: #7d90a9;
$textGreenColor: #74a800;
$textYellowColor: #cc9c00;
$textRedColor: #fa5151;

$page-lr-margin: 40rpx;

$def_btn_radius: 10rpx;
$border_height: 1rpx;

.input_tips {
  text-align: start;
  font-size: 26rpx;
  padding: 10rpx 0 0 0;
  color: $textRedColor;
}

.unit {
  color: $textMainColor;
  font-size: 32rpx;
  margin-left: 15rpx;
}