@import "./components/theme.scss";
@import "./components/anim.scss";

.header_box {
  .info_box {
    display: flex;
    flex-direction: row;
    margin-top: 10rpx;
    border-bottom: none !important;
    padding: 0 40rpx;

    .item {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 26rpx;
        line-height: 40rpx;
        color: $textNumColor;
      }

      .num {
        text-align: start;
        font-size: 32rpx;
        color: $textMainColor;
        line-height: 60rpx;
        padding: 0;
      }

      &.bj {
        flex: 135;
      }

      &.zlx {
        flex: 115;
      }
    }

    .item.ll {
      width: 110rpx;

      .title {
        font-size: 22rpx;
        color: $textMainColor;
      }

      text {
        text-align: right;
      }
    }

  }
}

.table_box {
  display: flex;
  flex-direction: column;
  border-bottom: none !important;

  .thead,
  .tr {
    display: flex;
    padding: 0 40rpx;

    text:nth-child(1) {
      flex: 5;
    }

    text:nth-child(2) {
      flex: 2;
    }

    text:last-child {
      width: 116rpx;
      text-align: right;
    }
  }

  .thead {
    margin: 10rpx 0;

    text {
      font-size: 22rpx;
      line-height: 40rpx;
      color: $textNumColor;
    }
  }

  .tr {
    text {
      font-size: 26rpx;
      line-height: 100rpx;
      color: $textMainColor;
    }
  }

  .tr.dis,
  .tr.off {
    text {
      color: $textDisabledColor;
    }
  }

  .dis>text {
    text-decoration-line: line-through;
  }

  .more {
    font-size: 32rpx;
    color: $textDisabledColor;
    line-height: 36rpx;
    text-align: center;
  }
}

.list {
  position: absolute;
  top: 170rpx;
  bottom: 1rpx;

  .cell_bs {
    height: 50rpx;
  }
}