@import "../../components/theme.scss";

.header_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .btn {
    padding: 0 40rpx;
    font-size: 32rpx;
    color: $mainColor;
    line-height: 120rpx;
  }

  .space {
    flex: 1;
  }

  picker {
    display: flex;
    justify-content: flex-end;
  }

  .sel_year {
    font-size: 48rpx;
    text-align: end;
    line-height: 120rpx;
    color: $textMainColor;
    padding: 0 40rpx;
  }
}

.list {
  position: absolute;
  top: 120rpx;
  bottom: 1rpx;

  .cell_bs {
    height: 60rpx;
  }
}

.import_modal {

  .tip {
    color: $textRedColor;
    font-size: 30rpx;
    line-height: 60rpx;
  }

  .cell {
    display: flex;
    justify-content: space-between;

    text {
      font-size: 26rpx;
      color: $textMainColor;
      line-height: 50rpx;
      padding: 0 5rpx;
      text-align: start;
      overflow: auto;
    }

    .tt {
      flex: 2;
    }

    .p {
      white-space: nowrap;
      flex: 1;
    }

    .t {
      width: 150rpx;
      white-space: nowrap;
    }
  }
}