@import "../theme.scss";

:host {
  height: $def_input_height;
}

.radio_group {
  display: flex;

  .radio {
    display: none;
  }
}

.label {
  height: $def_input_height;
  margin-right: 20rpx;
  line-height: $def_input_height;
  display: inline-block;
  padding: 0 16rpx;
  font-size: 28rpx;
  color: $textMainColor;
  border: $border_height solid $borderColor;
  border-radius: $def_btn_radius;
  box-sizing: border-box;
}

.in {
  border-color: $textGreenColor;
}

.in.sel {
  background-color: $textGreenColor;
}

.out {
  border-color: $textRedColor;
}

.out.sel {
  background-color: $textRedColor;
}