@import "../theme.scss";

radio-group {
  height: $def_input_height;

  radio {
    display: none;
  }

  label {
    height: $def_input_height;
    margin-right: 20rpx;
    line-height: $def_input_height;
    display: inline-block;
    padding: 0 16rpx;
    font-size: 28rpx;
    color: $textMainColor;
    border: $border_height solid $borderColor;
    border-radius: $def_btn_radius;
    box-sizing: border-box;
  }

  .in {
    border-color: $textGreenColor;

    &[aria-checked='true'] {
      background-color: $textGreenColor;
    }
  }

  .out {
    border-color: $textRedColor;

    &[aria-checked='true'] {
      background-color: $textRedColor;
    }
  }

}